html{
  margin-bottom: 40px;
  background-color: #5478f0;
  margin: 50px;
}

.row {
  text-align: center;
}
.choices {
  display: flex;
  justify-content: space-between;
}
img{
  width:55%;
}
.row{
  font-family: 'Comic Neue', cursive;
  color: #ff5e00;
}

.pS{
  font-family: 'Comic Neue', cursive;
  color:#00ffbb;
}

.uC{
  font-family: 'Comic Neue', cursive;
  color:#c8ff00;
}

.cC{
  font-family: 'Comic Neue', cursive;
  color:#c8ff00;
}

.result{
  margin-top: 30px;
  color: red;
}
